*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
/app/build/
/app/release/
/dist/
*.apk
*.ap_
*.aab
*.dex
*.class
.cxx/
.externalNativeBuild/
*.log
.kotlin/
*.jks
*.keystore
keystore.properties
